<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="ZXing for JS">

  <title>ZXing TypeScript | Decoding from camera stream</title>

  <link rel="stylesheet" rel="preload" as="style" onload="this.rel='stylesheet';this.onload=null" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" rel="preload" as="style" onload="this.rel='stylesheet';this.onload=null" href="https://unpkg.com/normalize.css@8.0.0/normalize.css">
  <link rel="stylesheet" rel="preload" as="style" onload="this.rel='stylesheet';this.onload=null" href="https://unpkg.com/milligram@1.3.0/dist/milligram.min.css">
</head>

<body>
    <style>
        video {
            width: 80%;
            height: auto;
            min-width: 500px;
            min-height: 400px;
        }

        .wrapper {
           width: 100%;
            height: 100%;
            display: flex !important;
            justify-content: center !important;
            align-content: center !important;
        }
    </style>

  <main class="wrapper" style="padding-top:2em">


<image src="../static/images/data-123456789.png" width="800" height="600" />


  </main>

  

</body>

</html>

